/* Base styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('christian-wiediger-ssKEI4HRRtI-unsplash.jpg');
    background-size: cover;
    background-color: #1e1e2f;
    color: #f1f1f1;
    margin: 0;
    padding: 40px 20px;
}
.header-box {
  background-color: #43a047;     
  color: white;                  
  padding: 8px 15px;                
  border-radius: 10px;          
  text-align: center;           
  border: 1px solid #555;        
  max-width: 30%;                
  margin: 10px auto;         
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

h2 {
    font-size: 1.5re;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #2b2b3c;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #dddddd;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #444;
    background-color: #1e1e2f;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
}

input[type="number"]::placeholder {
    color: #aaa;
}

button {
    display: block;
    width: 100%;
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #43a047;
}

.result{
  background-color: #ffff;     
  color: white;                  
  padding: 8px 15px;                
  border-radius: 10px;          
  text-align: center;           
  border: 1px solid #555;        
  max-width: 30%;                
  margin: 10px auto;         
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
h3 {
    text-align: center;
    margin-top: 30px;
    color: #43a047;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    body {
        padding: 20px 10px;
    }

    form {
        padding: 25px 20px;
    }

    input[type="number"] {
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}
